<ion-header>
<ion-navbar primary>
    <ion-button start>
        <button clear light (click)="goBack()"><ion-icon name="arrow-back"></ion-icon>
          Today's Attendance
        </button>
    </ion-button>
</ion-navbar>
</ion-header>
<ion-content padding class="today-attendance">
  <ion-list *ngIf="isThereClassToday">
    <ion-item-sliding *ngFor="let student of presentedStudents">
      <ion-item>
        <ion-avatar item-left>
          <img src="img/avatar-finn.png">
        </ion-avatar>
        <h2>{{student.name}}</h2>
        <h3>{{student.coyoteID}}</h3>
      </ion-item>
      <ion-item-options side="right" icon-left>
      <button danger (click)="markAsAbsent(student)">
           <ion-icon name="checkmark"></ion-icon>
            Mark As Absent
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
