<ion-header>
  <ion-navbar primary>
    <ion-title> {{course.name}} </ion-title>
    <ion-buttons end>
      <button (click)="editClass()">EDIT</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="course-details">
  <ion-card class="card-background-page">
    <ion-card-header>
      {{course.name}}
    </ion-card-header>
    <ion-card-content>
      <h2>{{course.title}}</h2>
      <p> {{course.location}} </p>
      <p> professor : {{professor.name}} </p>
    </ion-card-content>
  </ion-card>
  <base-chart class="chart" [data]="chartData" [labels]="chartLabels" [chartType]="chartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </base-chart>
  <ion-list>
    <h5> Timings : </h5>
    <ion-item-sliding *ngFor="let timing of course.timings">
      <ion-item>
        {{timing.day}} {{timing.startTime}} - {{timing.endTime}}
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <h5>Students :</h5>
    <ion-item-sliding *ngFor="let student of enrolledStudents">
      <ion-item>
        <ion-avatar item-left>
          <img src="img/avatar-finn.png">
        </ion-avatar>
        <h2>{{student.name}}</h2>
        <h3>{{student.coyoteID}}</h3>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <button (click)="showTodayAttendance()">show attendance</button>
  <button (click)="showPreviousAttendance()">show previous attendance</button>
</ion-content>